<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PeevedPenguins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F7C6C81D1EFB2D65006AC89A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7C6C8371EFB2D65006AC89A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7C6C8421EFB2D66006AC89A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
